.slidev-layout {
  @apply h-full grid;

  background-color: var(--g-color-base-background);
  font-family: var(--g-font-family-sans);

  h1 {
    font-size: calc(var(--g-text-header-1-font-size) * 1.5);
    font-weight: var(--g-text-header-font-weight);
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  h1 {
    @apply pr-[30%];

    font-size: calc(var(--g-text-header-1-font-size) * 2);
    line-height: calc(var(--g-text-header-1-line-height) * 2);
  }
}

